.bg-primary {
  background-color: #fed100 !important;
}
.nav-link:hover {
  text-decoration: underline;
}
.display-1 {
  font-weight: 700;
  line-height: 1;
}
.display-6 {
  font-weight: 500;
}
.men {
  z-index: 100;
}
.gazel {
  z-index: 50;
}
